<!DOCTYPE html>
<html>

<head>
	<title>
		ПРОЕКТ
	</title>
</head>

<body>
	<p align="center" title="???">
		Добро пожаловать на сайт нашего проекта!
	</p>


	<form action="/show_clothes" method="POST">
		<p align="center">
			Выберите время года:
			<select name="season">
				<option  disabled selected>выберите</option>
				<option value="winter">Зима</option>
				<option value="spring">Весна</option>
				<option value="summer">Лето</option>
				<option value="autumn">Осень</option>
			</select>
		</p>

		<p align='center'> 
	    	Выберете место: 
			<select name="place">
				<option disabled selected>выберите</option>
				<option value="1">учебное заведение</option>
				<option value="2">офис</option>
				<option value="3">ресторан</option>
				<option value="4">парк/прогулка по городу</option>
				<option value="5">торговый/развлекательный центр</option>
				<option value="6">музей/галерея</option>
				<option value="7">театр</option>
				<option value="8">в гости</option>
				<option value="9">поездка на самолете/поезде/машине</option>
				<option value="10">поездка на природу/на дачу</option>
			</select>
		</p>

		
	  	<p align='center'> 
			<input type="submit" value="Отобразить доступные вещи">
	  	</p>
  	</form>



	

	
</body>


</html>